@page "/loading"
@namespace LoadingPage
<Div Flex="Flex.JustifyContent.Center.AlignItems.Center" Style="height:90vh" Width="Width.Is100">
	<SpinKit Type="SpinKitType.Flow" Color="#F27405" />
</Div>
@code
{
	
}