@page "/login"
@page "/"
@rendermode InteractiveServer
@using Blazorise.Extensions
@using Microsoft.AspNetCore.Authorization
@using SmartWorkout.Entities
@using SmartWorkout.ExtensionMethod

<Div style="background-image:url(bootstrap/background.jpg);background-size:cover;width:99vw;height:90vh">
	<Alert Color="Color.Danger" Visible="@(!ErrorMessage.IsNullOrEmpty())">
		<AlertMessage>Login Failed!</AlertMessage>
		<CloseButton/>
		<AlertDescription>You have entered invalid credentials</AlertDescription>
	</Alert>

	<Heading Size="HeadingSize.Is1" Padding="Padding.Is3.Is5.FromTop" TextAlignment="TextAlignment.Center"> Welcome to SmartWorkout</Heading>
	<Heading Size="HeadingSize.Is5" TextAlignment="TextAlignment.Center"> Your fitness companion for a healthier life!</Heading>
	<EditForm Model="LoginDTO" OnValidSubmit="@Login">
		<DataAnnotationsValidator/>
		<Div Margin="Margin.IsAuto.OnX.Is5.FromTop" Padding="Padding.Is3" Style="width:25%">

			<Card Shadow="Shadow.Default">
				<CardBody>
					<Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom.Is3.FromTop" TextAlignment="TextAlignment.Center">
						Sign in to your account
					</Heading>
					<Field>
						<FieldLabel>
							Email
						</FieldLabel>
						<FieldBody>
							<TextEdit Role="TextRole.Email" Placeholder="email@smartworkout.com" @bind-Text="LoginDTO.Email"/>
							<ValidationMessage For="@(() => LoginDTO.Email)"/>
						</FieldBody>
					</Field>
					<Field>
						<FieldLabel>
							Password
						</FieldLabel>
						<FieldBody>
							<TextEdit Role="TextRole.Password" Placeholder="********" @bind-Text="LoginDTO.Password" autocomplete="new-password"/>
							<ValidationMessage For="@(() => LoginDTO.Password)"/>
						</FieldBody>
					</Field>
					<Field>
						<Button Type="ButtonType.Submit" Color="Color.Primary" Block>
							Log in
						</Button>
					</Field>
				</CardBody>
			</Card>
		</Div>
	</EditForm>
</Div>