@namespace UnauthorizedPage
<PageTitle>Unauthorized</PageTitle>
<Div Margin="Margin.IsAuto.OnX" style="background:url(bootstrap/background.jpg);background-size:cover;opacity:100%;height:90vh">

	



	<Div Flex="Flex.Row.AlignItems.Center.JustifyContent.Center" >
		<Card Class="card-flex" Margin="Margin.Is5.FromBottom" Padding="Padding.Is5.Is5.FromBottom.Is5.FromTop" Shadow="Shadow.Default">

			<Heading Size="HeadingSize.Is1" TextWeight="TextWeight.Bold" Margin="Margin.Is5.FromBottom" TextAlignment="TextAlignment.Center"><span style="color:#03A678 !important"> 404</span></Heading>
			<Span Style="font-size:150px" TextColor="TextColor.Primary" Margin="Margin.Is5.FromBottom" TextAlignment="TextAlignment.Center" class="fas fa-circle-xmark"></Span>
			<Heading Size="HeadingSize.Is3" TextWeight="TextWeight.Bold" TextAlignment="TextAlignment.Start"><span style="color:#03A678 !important"> Sorry, page not found</span></Heading>

		</Card>
	</Div>
</Div>
@code {

}
