@inherits LayoutComponentBase

<div class="page">
	<AuthorizeView>
		<div class="sidebar"><NavMenu /></div>
	</AuthorizeView>
	


	<main>
		<div class="top-row px-4">
			<AuthorizeView>
				<Dropdown>
					<DropdownToggle Color="Color.Primary">
						<span class="fas fa-user" style="margin-right:1rem"></span>
						Hello,
					</DropdownToggle>
					<DropdownMenu>
						<DropdownItem Clicked="() => LogOut()" Margin="Margin.Is0">Log Out</DropdownItem>
					</DropdownMenu>
				</Dropdown>
			</AuthorizeView>

		</div>
		<div>
			@Body
		</div>


	</main>

</div>







