@rendermode InteractiveServer
<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">SmartWorkout</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="flex-column">

		<div hidden="@(!IsAdmin)" class="nav-item px-3">
			<NavLink class="nav-link" href="users">
				<Span class="fas fa-users" Margin="Margin.Is3.FromEnd">
				</Span>
				<Text>Users</Text>
			</NavLink>
		</div>

		<div hidden="@(!IsAdmin)" class="nav-item px-3">
			<NavLink class="nav-link" href="exercises">
				<Span class="fas fa-dumbbell" Margin="Margin.Is3.FromEnd">
				</Span>
				<Text>Exercises</Text>
			</NavLink>
		</div>

		<div hidden="@(!IsAdmin)" class="nav-item px-3">
			<NavLink class="nav-link" href="workouts">
				<Span class="fas fa-table-list" Margin="Margin.Is3.FromEnd">
				</Span>
				<Text>Workouts</Text>
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="exercise-logs">
				<Span class="fas fa-clock-rotate-left" Margin="Margin.Is3.FromEnd">
				</Span>
				<Text>Exercise Logs</Text>
			</NavLink>
		</div>

	</nav>

</div>

